body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
}
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
}
.card h4, .card h5 {
    color: #0e0e0e;
    margin-bottom: 5px;
}

.form-group {
    margin-bottom: 30px; /* Space between fields */
    
}


.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group input {
    display: block; /* Ensure input takes full width */
    width: 100%; /* Full width for input */
}
.form-group a.btn-link {
    color: #007bff;
    text-decoration: none;
    float: right; /* Align button to the right */
}

.form-group a.btn-link:hover {
    text-decoration: underline;
}


.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px; /* Add space below image */
}

.btn-primary {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-primary:hover {
    background-color: #0056b3;
}

.text-sm-left {
    color: #343a40;
}
.form {
    margin-top: 20px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col {
    flex: 1;
    margin-bottom: 15px;
}


.delete-btn {
    background-color:crimson;      
    color: white;               
    border: none;               
    padding: 10px 16px;          
    font-size: 12px;            
    cursor: pointer;
    justify-content: ce;            
}


.delete-btn:hover {
    background-color: darkred;  
}