<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboardstyle.css') }}" />
    <title>Kwarta</title>
</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">
                <i class="fas fa-peso-sign me-2"></i>Kwarta
            </div>
            <div class="list-group list-group-flush my-3">
                <a href="{{url_for('dashboard')}}" class="list-group-item list-group-item-action bg-transparent second-text active"><i
                        class="fas fa-tachometer-alt me-2"></i>Dashboard</a>
                <a href="{{url_for('Profile')}}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-user me-2"></i>Profile</a>
                <a href="{{url_for('home')}}"
                    class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
                        class="fas fa-power-off me-2"></i>Logout</a>
            </div>
        </div>

        <!--Send Modal-->
        <div class="modal fade" id="sendForm" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                        <div class="myform bg-dark">
                            <h1 class="text-center">Send to any Kwarta account</h1>

                            <!-- SEND FORM -->
                            <form method='post' action="/send_process">
                                <div class="mb-3 mt-4">
                                    <label for="InputSendTo" class="form-label">Send to</label>
                                    <input name="receiver" autocomplete="off" type="text" class="form-control"
                                        id="InputSendTo" aria-describedby="emailHelp"
                                        placeholder="User or Phone Number">
                                </div>
                                <div class="mb-3">
                                    <label for="InputAmount" class="form-label">Amount</label>
                                    <div class="input-group bg-dark">
                                        <span class="input-group-text">₱</span>
                                        <input name="amount" autocomplete="off" type="number" step="0.01"
                                            class="form-control" id="InputAmount" placeholder="Enter amount" required>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Password</label>
                                    <input name="password" type="password" class="form-control"
                                        id="exampleInputPassword1">
                                </div>
                                <button type="submit" class="btn btn-light mt-3">SEND</button>
                                <p>Incorrect Password</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Recharge-->
        <div class="modal fade" id="rechargeForm" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                        <div class="myform bg-dark">
                            <h1 class="text-center">Recharge</h1>
                            <form method="post" action="/recharge_process">

                                <!-- Card Option -->
                                <div class="mb-3">
                                    <select class="form-select" id="cardOption" onchange="toggleCardFields()" required>
                                        <option value="" disabled selected>Select Payment Method</option>
                                        <option value="card">Card</option>
                                    </select>
                                </div>

                                <!-- Card Details (shown only when Card is selected) -->
                                <div id="cardField" style="display: none;">

                                    <!-- Amount Input -->
                                    <div class="mb-3">
                                        <label for="amount" class="form-label">Recharge Amount</label>
                                        <div class="input-group bg-dark">
                                            <span class="input-group-text">₱</span>
                                            <input name="amount" type="number" class="form-control" id="InputAmount"
                                                placeholder="Enter amount" required
                                                oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                                        </div>
                                    </div>
                                    <p class="pd h8 py-3">Card Details</p>
                                    <div class="row gx-3">
                                        <div class="col-12">
                                            <div class="d-flex flex-column">
                                                <p class="text mb-1 text-start">Name</p>
                                                <input name="name" class="form-control mb-3" type="text" required placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="d-flex flex-column">
                                                <p class="text mb-1 text-start">Card Number</p>
                                                <input class="form-control mb-3" type="text"
                                                    placeholder="1234 5678 435678" required
                                                    oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 14);"
                                                >
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="d-flex flex-column">
                                                <p class="text mb-1 text-start">Expiry</p>
                                                <input class="form-control mb-3" type="text" placeholder="MM/YYYY" 
                                                oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 6);">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="d-flex flex-column">
                                                <p class="text mb-1 text-start">CVV/CVC</p>
                                                <input class="form-control mb-3 pt-2" type="password" placeholder="***">
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <!-- Submit Button -->
                                <button type="submit" class="btn btn-primary">Recharge</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Bank Modal-->
        <div class="modal fade" id="BankForm" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                        <div class="myform bg-dark">
                            <h1 class="text-center">Bank Transfer</h1>
                            <form method="post" action="bankTransfer_process">
                                <div class="mb-3">
                                    <select name="bank" class="form-select" id="bankOption" onchange="toggleBankFields()" required>
                                        <option value="" disabled selected>Select Bank</option>
                                        <option value="China Bank">China Bank</option>
                                    </select>
                                </div>

                                <div id="bankField" style="display: none;">
                                    <div class="mb-3 mt-4">
                                        <label  required for="InputAccname" class="form-label">Account Name</label>
                                        <input name="accountName" type="text" class="form-control" id="InputSendTo"
                                            aria-describedby="emailHelp" placeholder="Account Name">
                                    </div>
                                    <div class="mb-3 mt-4">
                                        <label name="accountNumber"  for="InputAccno" class="form-label">Account Number</label>
                                        <input type="number" class="form-control" id="InputSendTo"
                                               aria-describedby="emailHelp" placeholder="Number" maxlength="19"
                                               oninput="formatInput(this)" pattern="\d{4}-\d{4}-\d{4}-\d{4}">
                                    </div>
                                    
                                    

                                    <div class="mb-3">
                                        <label for="InputAmount" class="form-label">Amount</label>
                                        <div class="input-group bg-dark">
                                            <span class="input-group-text">₱</span>
                                            <input name="amount" type="number" class="form-control" id="InputAmount"
                                                placeholder="Enter amount" required
                                                oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label  required for="exampleInputPassword1" class="form-label">Password</label>
                                        <input name="password" type="password" class="form-control" id="exampleInputPassword1">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-light mt-3">SEND</button>
                                <p>Incorrect Password</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Loan Modal-->
        <div class="modal fade" id="notAvailableModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Service Not Available</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>We're sorry, but this service is currently not available.</p>
                    </div>
                </div>
            </div>
        </div>

        <!--Dashboard-->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
                <div class="d-flex align-items-center">
                    <i class="fas fa-align-left primary-text navbar-icon" id="menu-toggle"></i>
                    <h2 class="fs-2 fw-bold" style="margin-left: 20px;">Dashboard</h2>
                </div>
                <div class="ml-auto d-flex align-items-center text-end nav-icon">
                    <!-- Notification Icon with Badge -->
                    <div class="position-relative" id="notification-container">
                        <a href="javascript:void(0);" class="text-body mx-5" id="notification-icon">
                            <i class="fas fa-bell fa-2x"></i>
                            <span class="badge rounded-pill badge-notification bg-danger toggle-badge d-none" id="notification-badge">9</span>
                        </a>
                        <div class="notification-dropdown" id="notification-dropdown">
                            <div class="notification-item">Notification 1</div>
                            <div class="notification-item">Notification 2</div>
                            <div class="notification-item">Notification 3</div>
                            <div class="notification-item">Notification 1</div>
                            <div class="notification-item">Notification 2</div>
                            <div class="notification-item">Notification 3</div>
                            <div class="notification-item">Notification 1</div>
                            <div class="notification-item">Notification 2</div>
                            <div class="notification-item">Notification 3</div>
                            <!-- Add more notifications as needed -->
                        </div>
                    </div>
                    <!-- Toggle Switch -->
                    <div class="form-check form-switch">
                        <input  class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                    </div>
                </div>
            </nav>


            <div class="container-fluid px-4">
                <!--Balance-->
                <div class="row px-2 justify-content-center">
                    <div class="balance row g-3 my-2">
                        <div class="col-md-4">
                            <div class="d-flex justify-content-start align-items-center mb-3">
                                <i class="fas fa-user fs-2 me-2" aria-hidden="true"></i> <!-- Font Awesome icon -->
                                <h1 class="fs-2 user-name">{{account[3]}}</h1> <!-- Placeholder for user name -->
                            </div>
                            <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                                <div class="">
                                    <h3 align="center" class="fs-2">₱{{account[4]}}</h3>
                                    <p align="center" class="fs-5">Balance</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Buttons-->
                <div class="Buttons row g-3 my-2">
                    <div class="row px-2 justify-content-center">
                        <div class="col-3 mx-2 d-flex justify-content-center">
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sendForm">
                                <i class="fa-solid fa-paper-plane icon-lg"></i>Send
                            </button>
                        </div>
                        <div class="col-3 mx-2 d-flex justify-content-center">
                            <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#rechargeForm">
                                <i class="fa-solid fa-money-bill-wave icon-lg"></i>Recharge
                            </button>
                        </div>
                        <div class="col-3 mx-2 d-flex justify-content-center">
                            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#BankForm">
                                <i class="fa-solid fa-university icon-lg"></i>Bank
                            </button>
                        </div>
                        <div class="col-3 mx-2 d-flex justify-content-center">
                            <button type="button" class="btn btn-danger" onclick="window.location.href='{{ url_for('topup') }}'">
                                <i class="fa-solid fa-gamepad icon-lg"></i>Top-Up
                            </button>
                        </div>
                    </div>
                    <div class="row px-2 justify-content-center">
                        <div class="col-3 mx-2 d-flex justify-content-center">
                            <button class="btn btn-primary" onclick="window.location.href='{{ url_for('Bills') }}'">
                                <i class="fa-solid fa-school icon-lg"></i>Pay Bills
                            </button>
                        </div>
                        <div class="col-3 mx-2 d-flex justify-content-center">
                            <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#notAvailableModal">
                                <i class="fa-solid fa-envelope-open-text icon-lg"></i>Loan
                            </button>
                        </div>
                        <div class="col-3 mx-2 d-flex justify-content-center">
                            <button class="btn btn-success" onclick="window.location.href='{{ url_for('Load') }}'">
                                <i class="fa-solid fa-mobile-alt icon-lg"></i>Load
                            </button>
                        </div>
                        <div class="col-3 mx-2 d-flex justify-content-center">
                            <button class="btn btn-danger" onclick="window.location.href='{{ url_for('Donate') }}'">
                                <i class="fa-solid fa-heart icon-lg"></i>Donate
                            </button>
                        </div>
                    </div>
                </div>

                <script>
    function formatInput(input) {
        let value = input.value.replace(/\D/g, '');
        let formattedValue = value.replace(/(.{4})/g, '$1 ').trim();
        input.value = formattedValue;
    }
</script>


                <!--Recent Transac-->
                <div class="container-fluid px-4 row px-2 justify-content-center">
                    <div class="transac row my-5">
                        <div class="col-md-6">
                            <h3 class="fs-4 mb-3">Transaction History</h3>
                        </div>

                        {% if history %}
                        <div class="col-md-6 text-end">
                            <a href="{{url_for('transaction')}}" class="fs-5 mb-5 text-decoration-none">See all...</a>
                        </div>
                        {% endif %}

                        <div class="col">
                            {% if history %}
                            <table class="table bg-white rounded shadow-sm table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Transaction ID</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for i in history[-1:-4:-1] %}
                                    <tr >
                                        <th scope="row1">{{ i[0] }}</th><!-- date -->
                                        <td>{{ i[1] }}</td> <!-- name -->
                                        {% if i[3] == "Game Topup" or i[3] == "Sent"
                                         or i[3] == "Bank Transfer" or i[3] == "Load" or i[3] == "Donated" %}
                                            <td style="color: red;"  >-{{ i[2] }}</td> <!-- amount colored red -->
                                        {% else %}
                                            <td style="color: green;">+{{ i[2] }}</td> <!-- amount colored green -->
                                        {% endif %}
                                        <td>{{ i[3] }}</td> <!-- type -->
                                        <td>{{ i[4] }}</td> <!-- transaction ID -->
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <br><br>
                            <!-- gem paki adjust pa left gamay ang p ty -->
                            <p>You Have no Transactions yet.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->


    <script src="{{url_for('static', filename='Bootstrap offiline/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='Bootstrap offiline/js/Dashboardscrpt.js')}}"></script>



</body>

</html>