<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboardstyle.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='Profile.css') }}" />
    <title>Kwarta</title>
</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">
                <i class="fas fa-peso-sign me-2"></i>Kwarta
            </div>
            <div class="list-group list-group-flush my-3">
                <a href="{{url_for('dashboard')}}"
                    class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-tachometer-alt me-2"></i>Dashboard</a>
                <a href="{{url_for('Profile')}}"
                    class="list-group-item list-group-item-action bg-transparent second-text active"><i
                        class="fas fa-user me-2"></i>Profile</a>
                <a href="{{url_for('home')}}"
                    class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
                        class="fas fa-power-off me-2"></i>Logout</a>
            </div>
        </div>


        <!--Change name modal-->
        <div class="modal fade" id="changeNameModal" tabindex="-1" aria-labelledby="changeNameModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="myform bg-dark">
                            <h1 class="text-center">Change Your Name</h1>
        
                            <!-- CHANGE NAME FORM -->
                            <form method="post" action="/change_name_process">
                                <div class="mb-3 mt-4">
                                    <label for="newName" class="form-label">New Name</label>
                                    <input name="new_name" autocomplete="off" type="text" class="form-control" id="newName" placeholder="Enter your new name" required>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input name="password" type="password" class="form-control" id="password" required>
                                </div>
                                <button type="submit" class="btn btn-light mt-3">Change</button>
                                <p class="text-danger" id="error-message" style="display: none;">Incorrect Password</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Change number modal-->
        <div class="modal fade" id="changeNumberModal" tabindex="-1" aria-labelledby="changeNumberModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="myform bg-dark">
                            <h1 class="text-center">Change Your Phone Number</h1>
        
                            <!-- CHANGE NUMBER FORM -->
                            <form method="post" action="/change_number_process">
                                <div class="mb-3 mt-4">
                                    <label for="newPhoneNumber" class="form-label">New Phone Number</label>
                                    <input name="new_phone_number" autocomplete="off" type="text" class="form-control" id="newPhoneNumber" placeholder="Enter your new phone number" required>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input name="password" type="password" class="form-control" id="password" required>
                                </div>
                                <button type="submit" class="btn btn-light mt-3">Change</button>
                                <p class="text-danger" id="error-message" style="display: none;">Incorrect Password</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Change password modal-->
        <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="myform bg-dark">
                            <h1 class="text-center">Change Your Password</h1>
        
                            <!-- CHANGE PASSWORD FORM -->
                            <form method="post" action="/change_password_process">
                                <div class="mb-3 mt-4">
                                    <label for="currentPassword" class="form-label">Current Password</label>
                                    <input name="current_password" type="password" class="form-control" id="currentPassword" required>
                                </div>
                                <div class="mb-3">
                                    <label for="newPassword" class="form-label">New Password</label>
                                    <input name="new_password" type="password" class="form-control" id="newPassword" required>
                                </div>
                                <div class="mb-3">
                                    <label for="confirmNewPassword" class="form-label">Confirm New Password</label>
                                    <input name="confirm_new_password" type="password" class="form-control" id="confirmNewPassword" required>
                                </div>
                                <button type="submit" class="btn btn-light mt-3">Change</button>
                                <p class="text-danger" id="error-message" style="display: none;">Password change failed</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Dashboard-->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
                <div class="d-flex align-items-center">
                    <i class="fas fa-align-left primary-text navbar-icon" id="menu-toggle"></i>
                    <h2 class="fs-2 fw-bold" style="margin-left: 20px;">Profile</h2>
                </div>
                <div class="ml-auto d-flex align-items-center text-end nav-icon">
                    <div class="position-relative" id="notification-container">
                        <a href="javascript:void(0);" class="text-body mx-5" id="notification-icon">
                            <i class="fas fa-bell fa-2x"></i>
                            <span class="badge rounded-pill badge-notification bg-danger toggle-badge"
                                id="notification-badge">9</span>
                        </a>
                        <div class="notification-dropdown" id="notification-dropdown">
                            <div class="notification-item">Notification 1</div>
                            <div class="notification-item">Notification 2</div>
                            <div class="notification-item">Notification 3</div>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="container mt-0">
                <div class="card">
                    <div class="e-profile">
                        <div class="row">
                            <div class="col text-sm-left mb-3 text-center">
                                    <img src="{{ url_for('static', filename='img/Ejvind.png') }}" alt="Profile Picture"
                                        class="profile-img">
                                    <h4>{{account[3]}}</h4>
                                    <h5>@{{account[1]}}</h5>
                            </div>
                        </div>
                        <div class="tab-content pt-3">
                            <div class="tab-pane active">
                                <form class="form" method="POST" action="{{ url_for('update_profile') }}" novalidate="">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input id="name" class="form-control" type="text" value="{{ account[3] }}"
                                            disabled>
                                        <a href="#" class="btn btn-link" data-bs-toggle="modal"data-bs-target="#changeNameModal">Change</a>
                                    </div>

                                    <div class="form-group">
                                        <label for="phone">Phone Number</label>
                                        <input id="phone" class="form-control" type="text" value="{{ account[5] }}"
                                            disabled>
                                        <a href="#" class="btn btn-link" data-bs-toggle="modal"data-bs-target="#changeNumberModal">Change</a>
                                    </div>

                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input id="password" class="form-control" type="password"
                                            value="{{ account[2] }}" disabled>
                                        <a href="#" class="btn btn-link" data-bs-toggle="modal"data-bs-target="#changePasswordModal">Change</a>
                                    </div>


                                    <div class="form-group text-center">
                                        <small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Date Joined: 2024-10-12</small>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>


    <script src="{{url_for('static', filename='Bootstrap offiline/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='Bootstrap offiline/js/Dashboardscrpt.js')}}"></script>



</body>

</html>